<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">
        <img class="uk-margin-bottom" width="140" height="120" src="" alt="LOGO">
            <form class="uk-panel uk-panel-box uk-form">
                <div class="uk-form-row">
                   <input [(ngModel)]="username" class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
                </div>
                    <div class="uk-form-row">
                    	<div class="uk-form-password">
                        	<input [(ngModel)]="password" class="uk-width-1-1 uk-form-large" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" (click)="chkUser()">Login</button>
                    </div>
                    <div class="uk-form-row">
                        <h3 class="alert">{{alertMess}}</h3>
                    </div>
            </form>
    </div>
</div>